@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');f
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    
  
}
body{
  display: grid;
  grid-template-columns: 1fr;
}
#header{

  .top-header{
      display: grid;
      grid-template-columns: 45% 45%;
      padding-top: 10px;
      background-color: #f5f6f8;
      .header-left{
          color: rgb(54, 54, 54);
          font-size: 13px;
          p{
              padding-left: 35px;
          }
      }
      .header-right{
    
        .solo{
         display: grid;
         grid-template-columns: 10% 10% 3% 10% 12% 14% 12% 2% 7%;
         
         li{
         &.money-box{
         
          position: relative;
          &:hover{
              .money-dropped{
                  visibility: visible;
                  opacity: 1;
                  transform: translateY(10px);
                 
              }
          }
          .money-dropped{
              position: absolute;
              width: 40px;
              height: 40px;
              top: 100%;
              visibility: hidden;
              opacity: 0;
              
              background-color:white;
              text-align: center;
              
              li{
                  font-size: 12px;
             
              }
          }
         }
         &.flag-box{
          position: relative;
         &:hover{
           .flag-dropped{
              visibility: visible;
              opacity: 1;
              transform: translateY(10px);
          }
      }
          .flag-dropped{
              position: absolute;
              width: 48px;
              height: 45px;
              top: 100%;
              visibility: hidden;
              opacity: 0;
             
              background-color:white;
              text-align: center; 
              li{
                  font-size: 12px;
             
              }
          }
         }
          &:nth-child(3){
              position: relative;
           &::before{
              content: '';
              position: absolute;
              width: 1px;
              height: 15px;
              left: 0%;
              bottom: 15%;
              background-color: rgb(54, 54, 54);
           }
          }
          &:nth-child(7){
              i{
                  padding-right:5px ;
              }
          }
          a{
              text-decoration: none;
              display: inline-block;
              color: rgb(54, 54, 54);
              font-size: 13px;
             
          }
         }
        }
      
      }
  }
  .middle-box{
      display: grid;
      grid-template-columns: 15% 40% 30%;
      justify-content:space-between ;
      .photo-box{
          img{
              width: 80%;
              padding-left: 35px;
          }
      }
      .form-box{
          .select-box{
              width: 100%;
              height: 50px;
              border: 2px solid #336699;
             padding: 10px 10px;
             border-radius: 3px;
             color: rgb(78, 78, 78);
             font-size: 15px;

              input{
                  border: none;
                  outline: none;
                  width: 70%;
                  padding-left: 30px;
              }
              i{
                  padding-right: 5px;
                &:first-child{
                  font-size: 10px;
                  padding-left: 10px;
                }
                  }
              }

          }
          .number-box{
              display: grid;
              grid-template-columns: 30% 20% 20% 20%;
              padding-top: 30px;
              .nav-tel{
                  display: none;
                }
            
              .number-box-one{
                  display: grid;
                  grid-template-columns: 28% 72%;
          
           
                  a{
                      i{
                          font-size: 30px;
                          color: rgb(59, 58, 58);
                          transition: 1s;
                          &:hover{
                              color: #336699;
                          }
                   
                  }
              }
                  .one{
                      transition: 1s;
                      &:hover{
                          color: #336699;
                      }
                      
                      p{
                          font-size: 15px;
                      }
                      h6{
                          font-size: 12px;
                          font-weight: bold;
                      }
                  }
              }
          
              .number-box-two{
                  padding-left: 10px;
                
                  
                  a{
                      i{
                          padding-left: 15px;
                          font-size: 30px;
                          color: rgb(59, 58, 58);
                          transition: 1s;
                          &:hover{
                              color: #336699;
                          }
                  }
              }
                  .two{
                      padding-left: 5px;
                      transition: 1s;
                      &:hover{
                          color: #336699;
                      }
                    
                  }
              
          }
              .number-box-three{
                  padding-left: 10px;
               
                  a{
                      i{
                          padding-left:15px ;
                       font-size: 30px;
                       color: rgb(59, 58, 58);
                       transition: 1s;
                       &:hover{
                           color: #336699;
                       }
                      
                      }
                  }
                  .three{
                      padding-left: 5px;
                      transition: 1s;
                      &:hover{
                          color: #336699;
                      }
                    
                  }
              }
              .number-box-four{
                 
                  padding-left: 10px;
                 
                  
                  a{
                      i{
                          padding-left: 15px;
                          font-size: 30px;
                          color: rgb(59, 58, 58);
                          transition: 1s;
                          &:hover{
                              color: #336699;
                          }
                  }
              }
                  .four{
                      transition: 1s;
                      &:hover{
                          color: #336699;
                      }
                      position: relative;
                      span{
                          position: absolute;
                          width: 20px;
                          height: 22px;
                          border-radius: 50%;
                          background-color:#336699;
                          padding: 0px 6px;
                          font-weight: 700;
                          color: white;
                          top: -45px;
                          right: 29px;
                      }
                    p{
                      padding-left: 14px;
                      
                    }
                  }
              }
              }
      }
  
 .end-box{
  display: grid;
  grid-template-columns: 30% 45% 12% 12%;
  padding-top: 25px;
  position: relative;
 &::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0%;
  background-color: rgb(200, 198, 198);
 }
 .browse-box{
  display: grid;
  justify-self: center;
  padding-right:  45px ;
 
  li{
   &.slo{
       position: relative;
      &:hover{
           .slo2{
               opacity: 1;
               visibility: visible;
           }
      }
       .slo2{
           position: absolute;
           top: 2.5rem;
          background-color: white;
           height: 441px;
           width: 250px;
       opacity: 0;
     visibility: hidden;
           transition: 0.5s;
           
           li{
              &.fashion-box{
               position: relative;
               &:hover{
                   .fashion-box-drop{
                       opacity: 1;
                       visibility: visible;
                       transform: translateX(10%);
                   }
               }
               .fashion-box-drop{
                   display: grid;
                   grid-template-columns: 1fr 1fr 1fr;
                   position: absolute;
                   top: 0%;
                   left: 72%;
                   gap: 15px;
                   width: 700px;
                   opacity: 0;
                   visibility: hidden;
                   transition: 0.5s;
                   background-color: white;
            li{
             
               border-bottom: none;
              padding: 0px;
              h6{
                  padding-left: 15px;
              }
              
               ul{
                  padding-left: 15px;
                   li{
                      padding-top: 5px;
                     border-bottom: none; 
                       &:hover{
                           color: #336699;
                       }
                       
                   }
                 
                   
               }
               .red-box{
                  position: relative;
                
                
                  .red-box-drop{
                      position: absolute;
                      top: 5%;
                      left: 10%;
                      a{
                          color: rgb(54, 54, 54);
                          span{
                              color: #336699;
                              font-weight: bolder;
                          }
                          i{
                              color: rgb(54, 54, 54);
                          }
                      }
                      h4{
                          font-weight: bold;
                      }
                      
                  }
              }
             
            
            }
            
               }
              } 
              &.garden-box{
               position: relative;
               &:hover{
                   .garden-box-drop{
                       opacity: 1;
                       visibility: visible;
                       transform: translateX(10%);
                   }
               }
               .garden-box-drop{
                   display: grid;
                   grid-template-columns: 1fr 1fr 1fr;
                   gap: 15px;
                   position: absolute;
                   opacity: 0;
                   visibility: hidden;
                   width: 700px;
                   left: 72%;
                   top: 0%;
                   background-color: white;
                   transition: 0.5s;
                   li{
                 
                     padding: 0px;
                      border-bottom: none;
                      ul{
                       padding-left: 10px;
                          li{
                              padding-top: 5px;
                              border-bottom: none;
                           &:hover{
                               color: #336699;
                           }
                          }
                          h6{
                           padding: 10px 0px 0px 10px;
                          }
                      }
                      .blue-box{
                          position: relative;
                          
                          .blue-box-drop{
                           position: absolute;
                           top: 70%;
                           left: 10%;
                            h6{
                              color: white;
                              font-size: 15px;
                            }
                            h4{
                              font-weight: bolder;
                              color: white;
                              font-size: 28px;
                            }
                            a{
                              color: white;
                              font-size: 17px;
                              span{
                                  color: orange;
                                  font-weight: bold;
                                  font-size: 20px;
                              }
                              i{
                                  color: white;
                              }
                            }
                          }
                      }
                   
                      }
                      
                   }
               }
              &.electronics-box{
                  position: relative;
                  &:hover{
                      .electronics-box-drop{
                          opacity: 1;
                          visibility: visible;
                          transform: translateX(10%);
                      }
                  }
                  .electronics-box-drop{
                      display: grid;
                      grid-template-columns: 1fr 1fr 1fr;
                      gap: 15px;
                      position: absolute;
                      opacity: 0;
                      visibility: hidden;
                      width: 700px;
                      left: 72%;
                      top: 0%;
                      background-color: white;
                      transition: 0.5s;
                      li{
                          padding: 0px;
                          border-bottom: none;
                          ul{
                           padding-left: 10px;
                              li{
                                  padding: 3px 0px 0px 5px;
                                  border-bottom: none;
                               &:hover{
                                   color: #336699;
                               }
                              }
                              h6{
                               padding: 10px 0px 0px 10px;
                              }
                          }
                          .mono-box{
                           position: relative;
                           .mono-box-drop{
                              position: absolute;
                              top: 5%;
                              left: 10%;
                              p{
                                  color: white;
                              }
                              h4{
                                  color: white;
                                  font-weight: bolder;
                              }
                              h5{
                                  color: orange;
                                  font-weight: bolder;
                              }
                              a{
                                  display: inline-block;
                                  color: white;
                                  width: 50%;
                                  height: 50px;
                                  border: 2px solid white;
                                  padding: 10px 0px 0px 10px;
                              }
                           }
                          }
                      }
                  }
              }
              &.furniture-box{
                  position: relative;
                  &:hover{
                      .furniture-box-drop{
                          opacity: 1;
                          visibility: visible;
                          transform: translateX(10%);
                      }
                     
                  }
                  .furniture-box-drop{
                     justify-content: center;
                      position: absolute;
                      opacity: 0;
                      visibility: hidden;
                      width: 840px;
                      left: 66%;
                      top: 0%;
                      background-color: white;
                      transition: 0.5s;
                      li{
                          padding: 0px;
                          border-bottom: none;
                          ul{
                           padding-left: 10px;
                              li{
                                  padding: 3px 0px 0px 5px;
                                  border-bottom: none;
                               &:hover{
                                   color: #336699;
                               }
                              }
                              h6{
                               padding: 10px 0px 0px 10px;
                              }
                          }
                       
                      }
                      .future1{
                          padding:5px 2px 8px 8px;
                         position: relative;
                             img{
                           
                              border-radius: 7px;
                             }
                         .future1-box{
                          position: absolute;
                          top: 10%;
                          right: 5%;
                          p{
                              font-size: 14px;
                              color: rgb(71, 71, 71);
                          }
                          h4{
                              font-size: 20px;
                              font-weight: bolder;
                          }
                          a{
                              font-size: 14px;
                              span{
                                  font-weight: bolder;
                                  font-size: 15px;
                              }
                          }
                         }
                          
                         }
                         .future2{
                          padding: 5px 10px 8px 0px;
                          position: relative;
                          img{
                              border-radius: 7px;
                          }
                          .future2-box{
                           position: absolute;
                           top: 10%;
                           left: 5%;
                           p{
                              color: white;
                              font-size: 14px;
                           }
                           h4{
                              font-size: 20px;
                              font-weight: bolder;
                              color: white;
                           }
                           a{
                             font-size: 14px;
                             color: white;
                             span{
                              font-weight: bolder;
                              font-size: 15px;
                              color: white;
                             }
                           }

                          }
                         }
                  }
             
              }
               border-bottom: 0.5px solid rgb(208, 206, 206);
               padding: 9px 0px 3px 0px;
             
               &:nth-child(1){
                  a{
                   i{
                       padding-left: 10px;
                   }
                  }
               }
               &:nth-child(2){
                   a{

                    i{
                        padding-left: 10px;
                    }
                   }
                }
                &:nth-child(3){
                   a{
                    i{
                        padding-left: 10px;
                    }
                   }
                }
                &:nth-child(4){
                   a{
                    i{
                        padding-left: 10px;
                    }
                   }
                }
                &:last-child{
                   border-bottom: none;
                   padding-left: 3px;
                  a{
                   color: #336699;
                   i{
                       color: #336699;
                   }
                  }
                }
               a{
                   color: rgb(54, 54,54);
                   i{
                       font-size: 14px;
                       color: rgb(54, 54,54);
                   }
               }
              }
           }
       }
   
      }
  a{
   display: inline-block;
   text-decoration: none;
   color: rgb(54,54,54);
   font-weight: 500;
   i{
       
       &:first-child{
           font-size: 20px;
           padding-right: 25px;
           color:rgb(54, 54, 54) ;
       }
       &:last-child{
           font-size: 10px;
           padding-left: 10px;
       }
   }
}
  
  }
  .house{
      display: grid;
      grid-template-columns:12% 12% 12% 12% 12% 15%;
    
      li{
       &.shop-box{
              position: relative;
             
              &:hover{
                  .megamenu{
                      visibility: visible;
                      opacity: 1;
                     
                  }
                  
              }
              .megamenu{
                  display: grid;
                  grid-template-columns: 2fr 2fr 2fr 2fr;
                  gap: 15px;
                  position: absolute;
                  left: 0;
                  top: 2.5rem;
                 visibility: hidden;
                 opacity: 0;
                 width: 740px;
                 transition: 0.5s;
                 background-color: white;
                
                 li{
                  padding: 5px 5px;
                 h6{
                  font-size: 15px;
                 }
                  &::after{
                      display: none;
                  }
                  &:hover{
                      &::before{
                          display: none;
                      }
                  }
               ul{
                 
                  li{
                   padding-top: 5px;
                   color: rgb(94, 93, 93);
                   font-size: 15px;
                   font-weight: 400;
                      &::after{
                          display: none;
                          
                      }
                    
                      &:hover{
                          &::before{
                              display: none;
                          }
                       color: #336699;
                        
                      }
                  }
               
               }
              }  
              }
           
             }
      &.vendor-box{
          position: relative;
          &:hover{
              .vendor-dropped{
                  opacity: 1;
                  visibility: visible;
              }
          }
          .vendor-dropped{
              position: absolute;
              left: 0;
              top: 2.5rem;
              width: 155px;
              opacity: 0;
              visibility: hidden;
              transition: 0.5s;
              background-color: white;
           
              li{
                padding: 5px 5px;
                  a{
                      &:hover{
                      color: #336699;
                      }
                }
                &.store-box-one{
                  position: relative;
                  &:hover{
                      .store-dropped{
                          opacity: 1;
                          visibility: visible;
                         transform: translateX(-10%);
                      }
                  }
                  .store-dropped{
                      position: absolute;
                      left: 100%;
                      top: 0%;
                      width: 150px;
                      opacity: 0;
                      visibility: hidden;
                      transition: 0.5s;
                      background-color: white;
                      li{
                       color: rgb(94, 93, 93);
                       padding: 10px 10px;
                       &:hover{
                          color: #336699;
                       }
                          
                      }

                  }
              }
              &.vendor-store-box{
                  position: relative;
                  &:hover{
                      .vendor-store-drop{
                        opacity: 1;
                        visibility: visible;
                        transform: translateX(-10%);
                      }
                  }
                  .vendor-store-drop{

                      position: absolute;
                      left: 100%;
                      top: 0%;
                      width: 150px;
                      opacity: 0;
                      visibility: hidden;
                      transition: 0.5s;
                      background-color: white;
                      li{
                       color: rgb(94, 93, 93);
                       padding: 10px 10px;
                         &:hover{
                          color: #336699;
                         } 
                      }
                  }
                }  
                &::after{
                  display: none;
              }
              &:hover{
                  
                  &::before{
                      display: none;
                  }
              }
                }
               
             
              &:last-child{
                  padding-top: 10px;
              }
               a{
                  color: rgb(94, 93, 93);
                  font-size: 15px;
                  font-weight: 400;
                  i{
                      padding-left: 30px;
                  }
                  
               }
              }

        }
       &.blog-box-one{
          position: relative;
          &:hover{
              .blog-box-drop{
                  opacity: 1;
                  visibility: visible;
              }
          }
          .blog-box-drop{
              position: absolute;
              top: 2.5rem;
              width: 160px;
              left: 0;
              opacity: 0;
              visibility: hidden;
              background-color: white;
              transition: 0.5s;
              li{
                  &.grid-box{
                      position: relative;
                      &:hover{
                          .grid-box-drop{
                              opacity: 1;
                              visibility: visible;
                              transform: translateX(-10%);
                          }
                      }
                      .grid-box-drop{
                          position: absolute;
                      left: 100%;
                      top: 0%;
                      width: 150px;
                      opacity: 0;
                      visibility: hidden;
                      transition: 0.5s;
                      background-color: white;
                      li{
                          &::after{
                              display: none;
                          }
                          &:hover{
                              &::before{
                                  display: none;
                              }
                              color: #336699;
                          }
                          color: rgb(94, 93, 93);
                          font-weight: 400;
                      }
                          
                      }
                  }
                  &.masonary-box{
                      position: relative;
                      &:hover{
                          .masonary-box-drop{
                              opacity: 1;
                              visibility: visible;
                              transform: translateX(-10%);
                          }
                      }
                      .masonary-box-drop{
                          position: absolute;
                          left: 100%;
                          top: 0%;
                          width: 170px;
                          opacity: 0;
                          visibility: hidden;
                          background-color: white;
                          transition: 0.5s;
                          li{
                              &::after{
                                  display: none;
                              }
                              &:hover{
                                  &::before{
                                      display: none;
                                  }
                                  color: #336699;
                              }
                              color: rgb(94, 93, 93);
                              font-weight: 400;
                          }
                      }
                  }
                  &.mask-box{
                      position: relative;
                      &:hover{
                          .mask-box-drop{
                              opacity: 1;
                              visibility: visible;
                              transform: translateX(-10%);
                          }
                      }
                      .mask-box-drop{
                          position: absolute;
                          top: 0%;
                          left: 100%;
                      width: 170px;
                      opacity: 0;
                      visibility: visible;
                      background-color: white;
                      transition: 0.5s;
                      li{
                          &::after{
                              display: none;
                          }
                          &:hover{
                              &::before{
                                  display: none;
                              }
                              color: #336699;
                          }
                          color: rgb(94, 93, 93);
                          font-weight: 400;
                      }
                      }
                  }
                      font-weight: 400px;
                      font-size: 16px;
                      color: rgb(94, 93, 93);
                      padding: 5px 10px;
                  i{
                      font-size: 10px;
                      padding-left: 30px;
                  }
                  
                  &::after{
                      display: none;
                  }
               &:hover{
                  &::before{
                      display: none;
                  }
                  color: #336699;
               }
              
              }
             
          }
       } 
       &.pages-box{
          position: relative;
          &:hover{
              .pages-box-drop{
                  opacity: 1;
                  visibility: visible;
              }
          }
          .pages-box-drop{
              position: absolute;
              width: 180px;
              top: 2.5rem;
              left: 0;
              opacity: 0;
              visibility: hidden;
              background-color: white;
              transition: 0.5s;
              li{
                  &::after{
                      display: none;

                  }
                  &:hover{
                      &::before{
                          display: none;
                      }
                      color: #336699;
                  }
                  color: rgb(94, 93, 93);
                  font-weight: 400;
                  padding: 5px 5px;
              }
          }
       }
       &.elements-box{
          position: relative;
          &:hover{
              .elements-box-drop{
                  opacity: 1;
                  visibility: visible;
              }
          }
          .elements-box-drop{
              position: absolute;
              width: 180px;
              top: 2.5rem;
              left: 0;
              opacity: 0;
              visibility: hidden;
              transition: 0.5s;
              background-color: white;
              li{
                  &::after{
                      display: none;
                  }
                  &:hover{
                      &::before{
                          display: none;
                      }
                      color: #336699;
                  }
                  color: rgb(94, 93, 93);
                  font-weight: 400;
                 padding: 3px 3px;
              }
          }
       }
        
       
          position: relative;
         &:first-child{
              &::after{
               content: '';
               position: absolute;
               height: 3px;
               width: 55%;
               left: 0%;
               bottom: 0%;
               background-color: #336699;
              }
              a{
                  color: #336699;
              }
              &:hover{
                  &:before{
                     display: none;
                  }
              }
          }
     
          &::before{
           content: '';
           position: absolute;
           transform: scaleX(0);
           height: 2px;
           width: 60%;
           left: 0%;
           top: 100%;
           transform-origin: right left;
           background-color: #336699;
          transition:transform 0.25s ease-in-out;
          }
          &:hover{
              &::before{
               transform-origin:left center;
               
                transform: scaleX(1);
            
             
              }
              a{
                  color: #336699;
              }
          }
          a{
              text-decoration: none;
              color: rgb(54, 54, 54);
              font-weight: 700;
             
            
              i{
                  padding-left: 10px;
                  font-size: 10px;
              }

          }
      }  
      }
      .adress-box{
          a{
              text-decoration: none;
              display: inline-block;
              color: rgb(54, 54, 54);
              font-size: 16px;
              font-weight: 600;
              i{
                  font-size: 25px;
                  padding-right: 10px;
              }
          }
      }
      .price-box{
          a{
              text-decoration: none;
              display: inline-block;
              color: rgb(54, 54, 54);
              font-size: 16px;
              font-weight: 600;
              i{
                  font-size: 25px;
                  padding-right: 10px;
              }
          }
      }
  }

}
#main{
    .classic{
        background-color: #eeeeee;
        font-size: 34px;
        font-weight: 700;
        color: #333333;
        text-align: center;
        padding: 60px;

    }
        .container-my{
            width: 82%;
            margin: auto;
        }
    
.bread-nav {
    .breadcrumb {
      font-size: 13px;

      &-item {
        a {
          text-decoration: none;
          color: #868686;
          transition: 0.3s ease-in;

          &:hover {
            color: #333333;

          }
        }

      }

      .active {
        color: #333333;
      }

    }
  }
  .blog-content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
  .center{
    
    .person-img{
        img{
         transition: 0.3s ease-in;   
         border-radius: 5px;

        }
        overflow: hidden;
        &:hover {
            img{
            transform: scale(1.1); }
            
          }
    }
  }
  .left-side{
    .search{
        form{
        width: 100%;
        display: grid;
        grid-template-columns: 5fr 1fr;
        border: 1px #333333 solid;
        input{
            border: none;
            .no-outline:focus {
                outline: none;
                border-style: none;
            }
            
        }
        i{
            display: inline-block;
            padding-top: 5px;
            
        }
    }}
    .calendar{
         h4 {
            text-align: center;
            font-size: larger;
            margin-bottom: 0.5em;
            background-color: #336699;
            border-radius: 3px;
            padding: 17px 0;
            color: white;
            font-size: 15px;
            font-weight: 600;
          }
        .date {
            width: 100%;
            border-collapse: collapse;
          
          
          
          
          thead th {
            text-align: center;
            color: #333;
            font-size: 13px;
            padding: 5px 0;
           
          }
          
          td {
            width: 14.2857%;
            text-align: center;
            padding: 9px 0;
            vertical-align: top;
            font-size: 13px;
            font-weight: 500;
            color: #474747;
            
          }
          
    }
}


    .popular{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
    padding: 10px 0;
  
  a{
    display: inline-block;
    img{
        width: 100%;
        height: 100%;
    }  }
    .blog-left-details{
        .blog-left-date{
            font-size: 13px;
            color: #717171;
            padding: 5px 0;
        }
        .blog-left-content{
            a{
                font-size: 13px;
                color: #2c2b2b;
                text-decoration: none;
                font-weight: 500;
            }
        }
        
    }}}
}}