@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');f
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    
  
}
#main{
    .classic{
        background-color: #eeeeee;
        font-size: 34px;
        font-weight: 700;
        color: #333333;
        text-align: center;
        padding: 60px;

    }
        .container-my{
            width: 82%;
            margin: auto;
        }
    
.bread-nav {
    .breadcrumb {
      font-size: 13px;

      &-item {
        a {
          text-decoration: none;
          color: #868686;
          transition: 0.3s ease-in;

          &:hover {
            color: #333333;

          }
        }

      }

      .active {
        color: #333333;
      }

    }
  }
  .blog-content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
  .center{
    
    .person-img{
        img{
         transition: 0.3s ease-in;   
         border-radius: 5px;

        }
        overflow: hidden;
        &:hover {
            img{
            transform: scale(1.1); }
            
          }
    }
  }
  .left-side{
    .search{
        form{
        width: 100%;
        display: grid;
        grid-template-columns: 5fr 1fr;
        border: 1px #333333 solid;
        input{
            border: none;
            .no-outline:focus {
                outline: none;
                border-style: none;
            }
            
        }
        i{
            display: inline-block;
            padding-top: 5px;
            
        }
    }}
    .calendar{
         h4 {
            text-align: center;
            font-size: larger;
            margin-bottom: 0.5em;
            background-color: #336699;
            border-radius: 3px;
            padding: 17px 0;
            color: white;
            font-size: 15px;
            font-weight: 600;
          }
        .date {
            width: 100%;
            border-collapse: collapse;
          
          
          
          
          thead th {
            text-align: center;
            color: #333;
            font-size: 13px;
            padding: 5px 0;
           
          }
          
          td {
            width: 14.2857%;
            text-align: center;
            padding: 9px 0;
            vertical-align: top;
            font-size: 13px;
            font-weight: 500;
            color: #474747;
            
          }
          
    }
}


    .popular{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
    padding: 10px 0;
  
  a{
    display: inline-block;
    img{
        width: 100%;
        height: 100%;
    }  }
    .blog-left-details{
        .blog-left-date{
            font-size: 13px;
            color: #717171;
            padding: 5px 0;
        }
        .blog-left-content{
            a{
                font-size: 13px;
                color: #2c2b2b;
                text-decoration: none;
                font-weight: 500;
            }
        }
        
    }}}
}}